---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Creador de Contenido",
    company: "Tiktok",
    description:
      "Comparto mis aventuras y descubrimientos por el mundo, mezclando consejos de viaje con experiencias únicas. Mi video más viral, donde aparezco con Doraemon, ¡alcanzó más de 9 millones de visitas!",
    link: "https://www.tiktok.com/@planetaandrei",
  },
  {
    date: "Septiembre 2023",
    title: "SEO Specialist & Content Creator",
    company: "Freelance",
    description:
      "Logré impulsar mis webs personales hasta las 200,000 visitas mensuales. Lideré la creación de contenido optimizado y la implementación de pruebas A/B, mejorando las tasas de conversión en un 25%.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
